{
  "nick": "marimo",
  "server": "chat.freenode.net",
  "options": {
    "userName": "marimo",
    "realName": "marimo",
    "port": 6667,
    "channels": ["#your-channel-names-here"]
  }
}
